@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #faf5e4;
    padding: 0;
    margin: 0;
    color: #385170;
}
nav{
    background-color: #be3144;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 480px;
    margin: auto;
    padding: 1rem;
}
li {
    list-style: none;
}
nav ul li button{
    border: none;
    font-weight: 800;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.active{
    color: #eec60a;
    font-weight: 900;
}

.search{
   
}
.search form{
    display: flex;
    border-collapse: collapse;
    margin: 1rem auto;
    justify-content: center;
}
.search input{
    box-sizing: border-box;
    height: 40px;
    border-radius: 5rem 0 0 5rem;
    border: none;
    width: 70%;
    max-width: 420px;
    padding-left: 20px;
    background-color: #ffcece;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search button{
    box-sizing: border-box;
    height: 40px;
    border-radius: 0 5rem 5rem 0;
    border: none;
    width: 20%;
    max-width: 100px;
    cursor: pointer;
    background-color: #ffcece;
    color: #be3144;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search input:focus{
    outline: none;
}
.search button:hover{
    background-color: #be3144;
    color: white;
    
}

.pixabay-container, .pexel-container, .unsplash-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.image-div{
    width: 30%;
    border-radius: 5px;
    border: 1px solid #a3a5a77c;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0.5rem auto;
}
.image{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.tittle p{
    margin: 0.1rem auto;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.tittle a{
    text-decoration: none;
    color: #385170;
}
#showMore{
    box-sizing: border-box;
    height: 40px;
    padding: 5px 25px;
    border-radius: 5rem;
    border: solid 2px #385170;
    color: white;
    background-color: #385170;
    cursor: pointer;
}
.hidden{
    display: none !important;
}

@media screen and (max-width: 420px) {
    .image-div{
        width: 100%;
    }
    nav ul{
        gap: 0.2rem;
    }
}

.apiKey{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #000000d0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keys{
    height: 450px;
    width: 90%;
    max-width: 400px;
    background-color: white;
    border: #385170 solid 1px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.keys form input{
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    width: 80%;
    padding-left: 20px;
    background-color: #f0eaea;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 0.5rem;
}
#btn-api{
    background-color: #385170;
    color: white;
    cursor: pointer;
}

#close-keys-tab{
    position: absolute;
    top: 0;
    right: 0;
    color: #be3144;
    font-weight: 900;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
